<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Cesi Badge</title>
    <link rel="stylesheet" href="../static/css/blaze.min.css">
    <link rel="stylesheet" href="https://unpkg.com/flatpickr/dist/flatpickr.min.css">
    <script src="https://unpkg.com/flatpickr"></script>
    <script src="../node_modules/flatpickr/dist/flatpickr.min.js"></script>
</head>
<body>
    <nav class="c-nav c-nav--inline c-nav--high">
        <a class="c-nav__item" href="{{ url_for('index') }}">Cesi Badge</a>
        <a class="c-nav__item" href="{{ url_for('badgerlist') }}">Utilisateurs</a>
        <a class="c-nav__item" href="{{ url_for('roomlist') }}">Salles</a>
        {% if session['admin'] %}
        <a class="c-nav__item c-nav__item--right" href="{{ url_for('logout') }}">
            Connecté en tant que : {{ session['admin'] }} (se déconnecter)
        </a>
        {% else %}
        <a class="c-nav__item c-nav__item--right" href="{{ url_for('login') }}">
            Se connecter
        </a>
        {% endif %}
        </a>
    </nav>
    <div class="o-container o-container--large u-pillar-box--small">
    	{% block body %}{% endblock %}
    </div> 
    <footer>
    </footer>
</body>

<script>
    flatpickr(".flatpickr");
</script>

</html>

