{% extends "base.html" %}
{% block body %}

<div class="o-container o-container--large u-pillar-box--small">
    <div class="c-hero">
        <h1 class="c-heading">Liste des salles</h1>
    </div>
    <div class="o-grid o-grid--wrap o-grid--medium-full">
        {% for room in roomList %}
        <div class="o-grid__cell o-grid__cell--width-20"  style="padding-top: 1em; padding-bottom: 1em">
            <div class="c-card">
                <div class="c-card__item">
                    <p class="u-centered c-paragraph c-text--loud">{{ room.name }}</p>
                    <form method="get" action="/roomplanning">        
                        <input type="hidden" name="id" value="{{ room.id }}"/>
                        <button class="c-button c-button--info c-button--block" type="submit">Consulter</button>
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}